body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}

#head{
    width: 100%;
    margin-top: 0px;
    font-size: 20px
}

#note{
    font-size: 12px;
}

#input{
    margin-top: 15px;
    border-radius: 20px;
    width: 30%;
    padding: 10px;
}

#start{
    font-size: 16px;
    width: 10%;
}

canvas{
    animation-name: ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 150px;
}

@keyframes ani {
    from {box-shadow: 5px 5px 40px green;}
    to {box-shadow: 5px 5px 40px blue;}
}

